<!-- 日記詳細画面 -->
{% extends 'base.html' %}
{% load static %}

{% block title %}日記詳細 | Private Diary{% endblock %}

<!-- View有効タグ変数 -->
{% block active_diary_list %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <div class="row">
            <div class="col-3">
                <strong>タイトル</strong>
            </div>
            <div class="col-9">
                {{ object.title }}
            </div>
        </div>
        <!-- 水線 -->
        <hr>

        <div class="row">
            <div class="col-3">
                <strong>本文</strong>
            </div>
            <div class="col-9">
                {{ object.content | linebreaksbr }}
            </div>
        </div>

        <!-- 水線 -->
        <hr>

        <div class="row">
            <div class="col-3">
                <strong>写真</strong>
            </div>
            <div class="col-3">
                <!-- objectは, model(O/Rマッピング)のメンバ変数 -->
                {% if object.photo1 %}
                    <img src="{{ object.photo1.url }}" width="200" height="200"/>
                {% endif %}
                {% if object.photo2 %}
                    <img src="{{ object.photo2.url }}" width="200" height="200" />
                {% endif %}
                {% if object.photo3 %}
                    <img src="{{ object.photo3.url }}" width="200" height="200" />
                {% endif %}
            </div>
        </div>

        <!-- 水線 -->
        <hr>

        <div class="row">
            <div class="col-3">
                <strong>作成日時</strong>
            </div>
            <div class="col-9">
                {{ object.created_at }}
            </div>
        </div>

        <!-- 水線 -->
        <hr>

        <div class="row">
            <div class="col-3">
                <strong>更新日時</strong>
            </div>
            <div class="col-9">
                {{ object.updated_at }}
            </div>
        </div>

        <a class="btn btn-success mt-5 mb-3" href="{% url 'diary:diary_update' object.pk %}">編集</a>
    </div>
</div>
{% endblock %}